@import "tailwindcss";

/* fonts  */
@import url('https://font/poppins.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Thin - 100 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Extra Light - 200 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light - 300 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular - 400 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium - 500 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold - 600 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold - 800 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black - 900 */
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/font/poppins/Poppins-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


:root {
  /* PRIMARY */
  --primary-100: #0057b8;
  --primary-200: #003366;
  --primary-10: #00336629;

  /* SECONDARY */
  --secondary-100: #95e7b8;
  --secondary-200: #2ecc71;
  --secondary-10: #2ecc7129;

  /* NEUTRAL */
  --neutral-100: #ffffff;
  --neutral-200: #e8e8e8;
  --neutral-300: #d2d2d2;
  --neutral-400: #bbbbbb;
  --neutral-500: #a4a4a4;
  --neutral-600: #8e8e8e;
  --neutral-700: #777777;
  --neutral-800: #606060;
  --neutral-900: #4a4a4a;
  --neutral-1000: #333333;
  --neutral-10: #33333329;

  /* RED (Feedback) */
  --red-100: #fb3748;
  --red-200: #d00416;
  --red-10: #fb374829;

  /* YELLOW (Feedback) */
  --yellow-100: #ffdb43;
  --yellow-200: #dfd400;
  --yellow-10: #ffdb4329;

  /* GREEN (Feedback) */
  --green-100: #84ebb4;
  --green-200: #1fc16b;
  --green-10: #84ebb429;
}

/* classes for fonts  */
.plus-jakarta-sans{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* Scrollbar for modern browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;   /* Light grey thumb */
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;   /* Darker on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f1f1f1;
  font-family: 'Poppins', sans-serif;
}